* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    background-color: orange;
    text-align: center;
}

.recipeHeader {
    background-color: orange;
    text-align: center;
}

.inglist {
    outline-color: orange;
    color: rgb(145, 80, 0);
}